####################################################################
# WhiteSource Unified-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################

checkPolicies=true
forceCheckAllDependencies=true
resolveAllDependencies=false
# running locally - not update inventory
updateInventory=false
failErrorLevel=ALL

wss.url=https://saas.whitesourcesoftware.com/agent

npm.includeDevDependencies=false
npm.ignoreSourceFiles=true
npm.ignoreNpmLsErrors=true
npm.runPreStep=false
npm.resolveDependencies=true
#npm.resolveLockFile=true

##################################
# Organization tokens:
##################################
apiKey=

projectName=
projectVersion=
projectToken=

productName=
productVersion=latest
productToken=

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.js

## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/node_modules/**,**/*tests/**,**/*test/**,**/release/**,**/coverage/**

case.sensitive.glob=false
followSymbolicLinks=false
