
  <div>
    <h2>Shell API workbench extension</h2>
  </div>

  <div class="error-container">
  <error-message [error]="displayError"> </error-message>
  </div>

  <form name="APITestForm">


    <div>

      API Event

     <select
        class="dropDownListBox"
        name="ApiSentEvent"
        id="ApiSentEvent"
        [(ngModel)]="apiSentEvent"
        (change)='onApiEventChanged(apiSentEvent)'>
      <option *ngFor="let apiEvent of apiAllEventList; let i = index" [value]="apiAllEventList[i].id"
         [class] = "apiAllEventList[i].isRegistered === true ? 'registeredEvent' : 'unregisteredEvent' " >
        {{apiAllEventList[i].name}}
      </option>
     </select>

    </div>

    <div>
      Payload template
     <select
        class="dropDownListBox"
        name="PayloadTemplate"
        id="PayloadTemplate"
        [(ngModel)]="payloadTemplate"
        (change)='onPayloadTemplateEventChanged(payloadTemplate)'>
      <option *ngFor="let payload of payloadTemplateList; let i = index"
           [value]="payloadTemplateList[i].id">
        {{payloadTemplateList[i].description}}
      </option>
     </select>

    </div>


  <div>
    Command Payload<br>
  <textarea id = "cmdPayload" name="cmdPayload" rows="10" cols="40" class="input-field" [(ngModel)]="cmdPayload">
  </textarea>
  </div>
</form>

  <button  (click)="runCmd()">
    Emit Event
  </button>
  <br>
  <div *ngIf="!eventHandler[apiSentEvent] || eventHandler[apiSentEvent].isMultiHandlerEnabled">

  <button  (click)="runRegister()">
    Register Eventhandler
  </button>
 </div>

 <div *ngIf="eventHandler[apiSentEvent] && !eventHandler[apiSentEvent].isMultiHandlerEnabled">

  <button  (click)="runUnRegister()">
    Unregister Eventhandler
  </button>
 </div>

 <br>

 <div>
  Event log<br>
<textarea id = "output" name="output" rows="20" cols="40" class="input-field" [(ngModel)]="output">
</textarea>
<br>
<button  (click)="clearLog()">
  clear log
</button>
</div>

<br>
<file-upload
  (onImportPayload)="addImportedPayload($event)" >
</file-upload>
<br>
 <br>
 <a href="https://sap.github.io/fsm-shell/#/" target="_blank">SDK Documentation</a>
